@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared styles  */
*{
    margin: 0;
    padding: 0;
}


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.text-primary {
    color: #FFF;

}
.text-secondary {
  color:  rgba(255, 255, 255, 0.5);
}
    

.btn-primary {
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 46px;
    background-color: #E6533C;
    border: none;
    color: #FFF;
}

/* header style  */
.header {
    background-image: radial-gradient( #111111 100% , #777777 0% );
}
/* navbar style  */
nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding: 65px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
    font-size: 1.12rem;
}

nav li {
    list-style: none;

}

nav ul {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 47px;
    border-radius: 39px;

    border: 1px solid rgba(255, 255, 255, 0.10);
}

.nav-title {
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}

/* banner styles  */
.banner-title{
    color: #FFF;
    font-size: 4.9rem;
    font-weight: 900;

}
.miama-font {

    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;

              }
.banner{
    display: flex;
    margin: 0 190px;
    justify-content: space-between;
    
}

.banner-content{
    padding-top: 100px;
    padding-bottom: 100px;

}

.banner-img{
    padding-top: 32px;

}
.download-btn {
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background-color:#111111;
    font-weight: 600;
}
.join-club-btn{
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background-color: #E6533C;
    border: none;
    margin-right: 14px;
    font-weight: 600;

}
.banner-description{
    margin: 28px 0px ;
}




/* habits section styles */
.habit-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #000;
    margin: 0 auto;
}

.habit-section-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.habit-description{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 14px;
    padding-bottom: 60px;

}

.habit-image{
    width: 100%;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 4px solid rgba(255, 255, 255, 0.10);

}
.habit-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.habit-content{
text-align: center;
}

